# Template used to create this container: /usr/local/share/lxc/templates/lxc-ubuntu
# Parameters passed to the template: -r trusty -a amd64
# For additional config options, please look at lxc.container.conf(5)

# Common configuration
lxc.include = /usr/local/share/lxc/config/ubuntu.common.conf
lxc.aa_profile = unconfined

# Container specific configuration
lxc.rootfs = /usr/local/var/lib/lxc/hotSpotLXC/rootfs
lxc.mount = /usr/local/var/lib/lxc/hotSpotLXC/fstab
lxc.utsname = hotSpotLXC 
lxc.arch = amd64

# hax for criu
lxc.console = none
lxc.tty = 0
lxc.cgroup.devices.deny = c 5:1 rwm

# Network configuration
lxc.network.type = veth
lxc.network.name = eth0
lxc.network.link = br0
lxc.network.flags = up
lxc.network.hwaddr = 06:79:b3:6b:40:77
lxc.network.ipv4 = 10.10.10.200/24
lxc.network.ipv4.gateway = 10.10.10.1
